[Unit]
Description=Docker Compose Service
After=docker.service
Requires=docker.service

[Service]
Restart=always
RestartSec=5
Type=simple
ExecStart=/etc/ddeploy/compose/compose.sh start
ExecStop=/etc/ddeploy/compose/compose.sh stop
WorkingDirectory=/etc/ddeploy/compose

[Install]
WantedBy=multi-user.target
