tests/_shunit2
.github/workflows/tests.yml
.github/workflows/test.yml
.github/workflows/build.yml
.github/workflows/publish.yml
.github/workflows/test-rpm.yml
docker-compose.yml
Docker
Dockerfile
ddeploy.deb
act.secrets
act.env
version.txt